**/credentials.env
**/certs

ansible/password
.vscode


services/immich/library
services/immich/postgres

core/backups/*.json
core/backups/*.env

core/cloudflared/.env
core/netdata/.env

core/immich-album-creator/.env
