**/credentials.env
**/prometheus-agent.yaml

ansible/password
.vscode

# Services
services/immich/library
services/immich/postgres

# Core
core/cloudflared/.env
core/netdata/.env
**/certs

# Cron
cron/immich-album-creator/.env
cron/backups/*.json
cron/backups/*.env
**/*.log
**/logs
